@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(218, 229, 239);
  font-family: 'Roboto Condensed', sans-serif;
}

.wrapper {
  max-width: 600px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
